:root {
  --vscode-editor-background:#1f1f1f; --vscode-editor-backgroundColor:#1f1f1f; --vscode-editor-foreground:#cccccc;
  --vscode-foreground:#cccccc; --vscode-panel-border:#2b2b2b; --vscode-textLink-foreground:#4daafc;
  --vscode-errorForeground:#f85149; --vscode-charts-blue:#3794ff; --vscode-charts-green:#89d185;
  --vscode-charts-purple:#b180d7; --vscode-textPreformat-foreground:#d7ba7d; --vscode-sideBar-background:#181818;
  --vscode-button-background:#0078d4; --vscode-button-foreground:#ffffff; --vscode-button-hoverBackground:#026ec1;
  --vscode-statusBarItem-errorBackground:#c72e0f; --vscode-list-hoverBackground:#2a2d2e;
  --vscode-menu-background:#1f1f1f; --vscode-menu-foreground:#cccccc; --vscode-menu-border:#454545;
  --vscode-menu-selectionBackground:#0078d4; --vscode-menu-selectionForeground:#ffffff;
  --vscode-input-background:#313131; --vscode-input-foreground:#cccccc; --vscode-input-border:#3c3c3c;
  --vscode-font-family: "Segoe WPC","Segoe UI",system-ui,"Ubuntu","Droid Sans",sans-serif;
}
body { background-color: var(--vscode-editor-background); color: var(--vscode-editor-foreground);
       font-family: var(--vscode-font-family); font-size: 13px; margin: 0; }
